<div *transloco="let t" class="h-svh py-4 lg:ps-0 lg:p-2 flex">
  <!-- Page content -->
  <div class="flex-1 px-4 flex flex-col">
    <!-- Fixed header -->
    <header class="h-16 shrink-0 flex justify-between items-center">
      <div class="flex items-center gap-1 sm:gap-2">
        <img
          ngSrc="assets/images/logos/full-rounded-icon-like.png"
          width="60"
          height="60"
          alt="EzeePay Logo"
          priority
          class="hidden sm:block"
        />
        <img
          ngSrc="assets/images/logos/full-rounded-icon-like.png"
          width="50"
          height="50"
          alt="EzeePay Logo"
          priority
          class="sm:hidden"
        />
        <span class="font-bold text-primary italic text-xl sm:text-3xl">{{ t('app.name') }}</span>
      </div>
      <div class="flex items-center gap-2">
        <language-selector />
        <theme-toggle />
      </div>
    </header>
    <div class="flex-1 w-full flex items-center justify-center">
      <div class="w-full max-w-md">
        <router-outlet />
      </div>
    </div>
  </div>

  <!-- Brand panel: visible >= lg only -->
  <div class="hidden rounded-3xl relative lg:block lg:w-1/2 border border-surface-200">
    <img
      ngSrc="assets/images/covers/people.jpg"
      alt="People Working"
      fill
      class="object-cover rounded-3xl"
      priority
    />
  </div>
</div>
